@page "/Events"

<h1 class="mb-4">Event List</h1>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a class="btn btn-primary mb-3 me-2" href="/Events/Create">Add Event</a>
    <table class="table mb-5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>All Day</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evt in events)
            {
                <tr>
                    <td>@evt.Id</td>
                    <td>@evt.Title</td>
                    <td>@evt.Description</td>
                    <td>@evt.Start.ToShortDateString()</td>
                    <td>
                        @if(evt.IsAllDay)
                        {
                            <span class="badge text-bg-success">Yes</span>
                        }
                        else
                        {
                            <span class="badge text-bg-warning">No</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-outline-dark btn-sm" href="/Events/Edit/@evt.Id">Edit</a>
                        <a class="btn btn-outline-danger btn-sm" href="/Events/Delete/@evt.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@inject HttpClient http
@code {
    private List<Event>? events;

    protected override async Task OnInitializedAsync()
    {
        events = await http.GetFromJsonAsync<List<Event>>("api/Events");
    }
}
